.div-row {
  margin-left: 50px;
}

.row-bis {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: relative;
  height: 130px;
}

.row {
  display: flex;
  margin-bottom: 70px;
  height: 130px;
}

.prev {
  height: 100%;
  width: 130px;
  transition: transform 450ms;
  background-color: rgba(37, 37, 37, 0.137);
  border: none;

}

.next {
  height: 100%;
  width: 130px;
  transition: transform 450ms;
  background-color: rgba(37, 37, 37, 0.137);
  border: none;
}

.prev:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.next:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.row-bis::-webkit-scrollbar {
  display: none;
}

.img-movie:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.img-movie {
  width: 250px;
  height: 130px;
  background-position: center center;
  background-size: cover;
  margin-right: 15px;
  transition: transform 450ms;
}

.title_movie_tile {
  display: flex;
  padding-top: 75px;
  padding-left: 15px;
  font-size: 17px;
  color: #fff;
}

h2 {
  color: #fff;
}

.row-poster {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 70px;
  scroll-behavior: smooth;
  position: relative;
  height: 230px;
}

.row-poster::-webkit-scrollbar {
  display: none;
}

.img-movie-poster {
  width: 170px;
  height: 230px;
  background-position: center center;
  background-size: cover;
  margin-right: 15px;
  transition: transform 450ms;
}


.img-movie-poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.numbers {
  font-size: 260px;
  margin-right: -50px;
}