.form_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.inner_form {
  width: 60%;
}

.title_add {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: -1px;
}

.paraph_add {
  color: rgb(177, 177, 177);
}

.sign_user {
  margin-top: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textField {
  background-color: rgb(73, 73, 73);
  border-radius: 2px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  color: #fff;
  width: 40%;
}

.signin_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: larger;
  border-radius: 0.2vw;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 2rem;
  padding-top: 0.9rem;
  background-color: rgb(177, 0, 0);
  padding-bottom: 0.5rem;
  margin-top: 40px;
  width: 100%;
}

.signin_button:hover {
  background-color: rgb(235, 3, 3);
}

.newUrl {
  display: flex;
}

.remember {
  margin-top: 10px;
  display: flex;
  color: rgb(160, 160, 160);
  width: 100%;
}

.remember_tile {
  width: 65%;
}

.need_help {
  margin-top: 10px;
  display: flex;
}

.error_tag {
  color: red;
  font-size: 12px;
  margin-top: 1px;
}
