body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------------------- Menu --------------------- */
#navbar {
  display: flex;
  /* align-items: center; */
  /* justify-content: start; */
}

#lienNav {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.lien {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.active {
  color: white;
}



/* --------------------- Page Login --------------------- */

#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
}

#container h1{
  padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

/* --------------------- Page Who's Watching ? --------------------- */

#containerWatchers{
  width:60%;
  margin:0 auto;
  margin-top:10%;
  text-align: center;
}

#containerWatchers h1{
  margin-bottom: 60px;
}

#watchers {
  display: flex;
  justify-content: space-around;
}

#watchers img {
  height: 200px;
}

#watchersImage:hover img {
  /* L'image est doublée */
  -webkit-transform:scale(1.15); /* Safari et Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* Internet Explorer 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
  }

#watchersImage:hover p {
  /* L'image est doublée */
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  }
  
#btnManage {
  margin-top: 60px;
  padding: 20px;
  border: 1px solid rgba(211, 211, 211, 0.500);
  color: rgba(211, 211, 211, 0.500);
  background-color: #141414;
  border-radius: 5px;
  text-transform: uppercase;
}

#btnManage:hover {
  border: 1px solid white;
  color: white;
}
